<div class="container-fluid">
  <div class="jumbotron">
    <ul>
      <li>
        <a ui-sref="draft">Draft Board</a>
      </li>
      <li>
        <a ui-sref="protected">Protected Lists</a>
      </li>
    </ul>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div grand-totals-summary-list></div>
        <div pos-rank-nav-list></div>
      </div>
      <div class="col-xs-10">
        <div general-totals-summary-list></div>
        <div class="general-nav-container">
          <ul>
            <li>
              <a href="http://www.cbssports.com/mlb/probable-pitchers" target="_new">probable pitchers</a>
            </li>
            <li>
              <a href="http://www.cbssports.com/mlb/scoreboard" target="_new">scores</a>
            </li>
            <li>
              <a href="http://www.rotoworld.com/playernews/mlb/baseball-player-news" target="_new">player news</a>
            </li>
            <li>
              <a href="http://mlb.mlb.com/mediacenter/index.jsp?c_id=mlb" target="_new">MLB TV</a>
            </li>
            <!--<li>-->
              <!--<a ui-sref="draft">Draft</a>-->
            <!--</li>-->
          </ul>
          <p>as good as it gets...</p>
          <!--<ul>-->
            <!--<li>-->
              <!--<a href="/#authuser/rallycaps">rally caps</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/#authuser/bashers">bashers</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/#authuser/mashers">mashers</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/#authuser/stallions">stallions</a>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
</div>
