body {
  font-size: 16px;
  width: 100%;
  background-color:#ffffff;
  margin: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.page-header {
  padding-bottom: 9px;
  margin: .2rem 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.logo {
  height: 5rem;
  margin-left:2rem;
}
[data-ui-type="table"] {
  display: table;
  table-layout: fixed;
  width:100%;
}
[data-ui-type="row"] {
  display: table-row;
}
[data-ui-type="cell"] {
  display: table-cell;
  vertical-align: top;

}


.protected-list-container {

  [data-ui-type="table"] {

    max-width: 50rem;
  }

  [data-ui-type="row"] {

    .protected-col {
      width: 8rem;
      text-align: center;
    }
    .pos-col {
      width: 8rem;
    }
    .team-col {
      width: 8rem;
    }

    [data-ui-type="cell"]{
      border-bottom: 1px solid #ffffff;
    }

    &.protected-row {
      background-color: #D5E4EA;
    }

  }
}
