<div data-id="draft-board-container">
  <!--<div class="postGridStyle" ng-grid="draftGridOptions"></div>-->


  <table class="draft-table">
    <tr>
      <th>
        pk
      </th>
      <th>
        rnd
      </th>
      <th>
        roster
      </th>
      <th>
        player
      </th>
      <th>
        pos
      </th>
      <th>
        tm
      </th>
      <th>

      </th>

    </tr>
    <tr ng-repeat="pick in draftPicks | orderBy:['pickNumber'] ">
      <td>{{ pick.pickNumber }}</td>
      <td>{{ pick.round }}</td>
      <td>{{ pick.roster }}</td>
      <td>{{ pick.name }}</td>
      <td>{{ pick.pos }}</td>
      <td>{{ pick.team }}</td>
      <td>
        <button ng-click="editPick(pick)" ng-model="pick" ng-show="isDog()">edit</button>
        <button ng-click="deletePick(pick)" ng-model="pick" ng-show="isDog()">delete</button>
      </td>
    </tr>
  </table>
</div>
<div id="PickForm" name="PickForm" >
  <label>type: <select  ng-model="ePlayer.status">
    <option value="drafted">drafted</option>
    <option value="protected">protected</option>
    </select>
  </label>
  <br />
  <label>roster: <input type="text" ng-model="ePlayer.roster"></label>
  <label>round: <input type="text" ng-model="ePlayer.round"></label>
  <label>pick: <input type="text" ng-model="ePlayer.pickNumber"></label>
  <label>player: <input type="text" ng-model="ePlayer.name"></label>
  <label>pos: <input type="text" ng-model="ePlayer.pos"></label>
  <label>team: <input type="text" ng-model="ePlayer.team"></label>
  <input type="button" ng-click="saveDraftBoardPlayer()" value="save" />
</div>
