<div class="side-nav-box">
  <div class="nav-rank-title">Batters</div>
  <ul class="nav-batter-rank-list nav-rank-list">
    <li>
      <a href="#/rank/all">All</a>
    </li>
    <li>
      <a href="#/rank/C">C</a>
    </li>
    <li>
      <a href="#/rank/1B">1B</a>
    </li>
    <li>
      <a href="#/rank/2B">2B</a>
    </li>
    <li>
      <a href="#/rank/3B">3B</a>
    </li>
    <li>
      <a href="#/rank/SS">SS</a>
    </li>
    <li>
      <a href="#/rank/LF">LF</a>
    </li>
    <li>
      <a href="#/rank/CF">CF</a>
    </li>
    <li>
      <a href="#/rank/RF">RF</a>
    </li>
    <li>
      <a href="#/rank/DH">DH</a>
    </li>
  </ul>
  <div class="nav-rank-title">Pitchers</div>
  <ul class="nav-pitcher-rank-list nav-rank-list">
    <li>
      <a href="#/rank/SP">SP</a>
    </li>
    <li>
      <a href="#/rank/RP">RP</a>
    </li>
  </ul>
</div>